
<form action='/posts' method="POST">
  <h2>Post</h2>
  <label for="name">Name</label><br>
  <input id="name" type="text" name="name" /><br>
  <label for="content">Content</label><br>
  <input id="content" type="text" name="content" /><br>

  <input id="submit"type="submit" value="Submit">
</form>
