

<h1>Your Post</h1>
  <div class="post">
    <p>Name: <%= @post.name %></p><br>
    <p>Content: <%= @post.content %></p><br>
  </div><br>

  <form method="post" action="/posts/<%= @post.id %>/delete">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="delete">
  </form>
